@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --gray-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
  --light: 200;
  --normal: 400;
  --bold: 600;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-gray);
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-weight: var(--light);
  color: var(--dark-blue);
  font-size: 2rem;
  padding-bottom: 10px;
}
h4 {
  font-weight: var(--bold);
  color: var(--dark-blue);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 span {
  display: block;
  font-weight: var(--bold);
  color: var(--dark-blue);
}

p {
  color: var(--gray-blue);
}

header {
  min-height: 23vh;
  text-align: center;
  max-width: 40%;
  margin: 0 auto;
  padding-top: 55px;
  line-height: 1.2;
}

footer {
  text-align: center;
  min-height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer > p {
  font-size: 13px;
  color: var(--gray-blue);
}

a {
  text-decoration: none;
  color: #3e52a3;
}

.grid-container {
  margin: 50px auto 0 auto;
  max-width: 1110px;
  min-height: 50vh;
  display: grid;
  grid-template: auto auto auto;
  grid-gap: 30px;
  grid-template-areas:
    '. card2 .'
    'card1 card2 card4'
    'card1 card3 card4'
    '. card3 .';
}

.card-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top: 4px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  -webkit-box-shadow: 5px 5px 10px 5px hsla(229, 6%, 66%, 0.44);
  box-shadow: 5px 5px 10px 5px hsla(229, 6%, 66%, 0.44);
}

.card1 {
  grid-area: card1;
  border-color: var(--red);
}

.card2 {
  grid-area: card2;
  border-color: var(--cyan);
}

.card3 {
  grid-area: card3;
  border-color: var(--orange);
}

.card4 {
  grid-area: card4;
  border-color: var(--blue);
}

.svg {
  max-width: 64px;
  max-height: 64px;
}
.img-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 990px) {
  header {
    max-width: 80%;
  }
  .grid-container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template: auto;
    justify-content: center;
    grid-template-areas:
      'card1'
      'card2'
      'card3'
      'card4';
  }
  .card-container {
    width: 80vw;
    justify-content: center;
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  .grid-container {
    grid-template: auto;
    justify-content: center;
    grid-template-areas:
      'card1'
      'card2'
      'card3'
      'card4';
  }
  .card-container {
    width: 80vw;
    margin-bottom: 24px;
  }
}
